{
    "presets":[
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
        "tranform-object-rest-spread",
        {
            "useBuiltIns": true
        }
        ]
    ]
}