<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        
      </ul>
    </nav>
    <header>
      <h1>Login using...</h1>
    </header>
    <main>
      <a class="google-btn" href="/auth/google">Google+</a>
    </main>
  </body>
</html>